name: lint

on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          poetry --version

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Lint Python files
        run: poetry run make lint-python

      - name: Lint shell scripts
        run: |
          sudo apt-get -y install shellcheck
          make lint-shell

      - name: Lint Read the Docs requirements
        run: make lint-rtd-requirements
